{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
        <h1>Page not found - Error 404 </h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ path('app_index') }}">
                    Go to page Welcome
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
