{% extends 'admin.html.twig' %}

{% block title %}New Article{% endblock %}

{% block main %}
    <a href="{{ path('admin_articles') }}">back to list</a>
    <h3>Create new Article</h3>

    {{ include('admin_article/_form.html.twig') }}
{% endblock %}
